/* here you can put your own css to customize and override the theme */
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 5px;
}
.table td.thumb img{
    max-height:40px;
}
.form-horizontal .checkbox-inline div.checker{
    margin-top:0px !important;
}
#model_category_banner{
    max-height: 420px;
    overflow-y: auto;
}
.modal-body .datetimepicker{
    z-index:10050 !important;
}
.clickable:hover{
    cursor: pointer;
}
.status_change{
    width:140px;
}
.verticalalign_middle{
    vertical-align:middle !important;
}
.seo_result_title_outer{
    color: #609 !important;
    font-size: 18px !important;
    font-weight: normal;
    font-family: arial,sans-serif;
    line-height: 1.2;
}
.seo_result_url{
    font-size: 13px;
    color: #006621;
    font-style: normal;
    line-height: 16px;
    font-family: arial,sans-serif;
}
.seo_result_desc{
    line-height: 1.4;
    word-wrap: break-word;
    color: #545454;
    font-size: small;
    font-family: arial,sans-serif;
    font-weight: normal;
}
.whiteBack{
    line-height:60px;
    font-size:32px;
    text-align:center;
    width:100%;
    
}
.whiteBack{
    padding-top: 96px !important;
    padding-bottom: 96px !important;
}
.whiteBack .focus{
    font-weight: 400;
    font-family: Lobster;
}
.whiteBack .focuslight{
    font-weight: 300;
}
.whiteBack{
    background-color: #fff;
    font-family: 'Open Sans' !important;
    border: 1px solid #ddd;
}
#highlight{
    background: #FFEFBD;
    border-radius: 5px !important;
    padding-top: 8px;
}
#loader{
    display:none;
}
#title_file_name{
    font-size: 15px;
    text-decoration: none;
    color: #000;
}
#title_file_name a{
    font-size: 14px;
    text-decoration: none;
    color: #000;
}
#title_file_name a i:before{
    cursor: pointer !important;
}
#code_editor {
        width: 100%;
        height: 400px;
}
.editor_outer{
    line-height:20px;
    width: 100%;
    font-family: courier;
}
.current_dir_name{
    font-size: 12px;
    line-height: 12px;
    margin: 0;
}
#add_button{
    margin-bottom: 10px; 
}
#editor_top .portlet > .portlet-title{
    border-bottom: none;
    padding: 8px 0px;
    margin-bottom: 0px;
}
.jstree-default-responsive .jstree-anchor{
    font-weight: 300 !important;
}

.settings_help{
    font-size: 11px;
font-family: georgia;
color: #555;
}
table tr td a:hover{
    text-decoration: none;
}
div.dataTables_filter label {
    float: left !important;
    line-height: 30px;
}
div.dataTables_filter label input{
    height: 30px;
}
.pagination>li>a, .pagination>li>span{
    float: none;
}
@media (min-width:992px){
    #editor_main_section{
        display:block;
    }
    #editor_hide_section{
        display:none;
    }
}
@media (max-width:991px){
    #editor_main_section{
        display:none;
    }
    #editor_hide_section{
        display:block;
    }
}
@media (min-width: 900px) and (max-width:1200px){
    #file_editor_tabs .tab-content{
        max-height:300px;
        overflow: scroll;
    }
}